<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>imagekit</title>
</head>
<body>
    <h1 class="text-center">Sign up</h1>
    <form action="/register" method="POST" class="text-center" id="registration_form">
        <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" name="name" placeholder="Your Name" id="name" required>
        </div>
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="email" name="email" placeholder="Your Email" id="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" name="password" placeholder="Password" id="password" required>
        </div>
        <% if (showCaptcha) { %>
            <div class="form-group">
                <%- recaptcha %> 
                <% recaptcha %>
            </div>
        <% } %>
        <div class="form-group">
            <input type="submit" value="Sign Up" class="btn btn-success">
        </div>
    </form>    
</body>
</html>
